/*text styling*/
body {
  width: 600px;
  margin: 0 auto;
  font-family: "Lucida Sans", sans-serif;
  color: #00376c;
}

/*anchors*/
a {
  color: #00376c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/*heading styling*/
h2 {
  border-bottom: 2px solid #7b7b7b;
  text-align: center;
}
h3 {
  border-bottom: 2px solid #1577ff;
  display: inline;
}

/*header and footer styling*/
header {
  border-bottom: 6px solid #7b7b7b;
  line-height: 80px;
  text-align: center;
  background-color: #c7e3ff;
  margin-bottom: 40px;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: #c7e3ff;
  margin-bottom: 40px;
}

/* section styling */
.story,
.servives,
.locations {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
  background-color: #e7e7e7;
}

/*image styling*/
img {
  width: 150px;
}
